@import "bootstrap";

#tweets {
  background-color: #f7f7f7;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.home {
  flex: 1;
}
