
<%= if @current_user do %>
 HI <%= @current_user.screen_name %>


<% else %>

<a class="btn btn-primary btn-lg" href= <%= "https://api.twitter.com/oauth/authorize?oauth_token=#{@oauth_token}" %>>
Sign in with Twitter
</a>

<% end %>
